<!--
  @description       : 
  @author            : Hemdene Ben Hammouda
  @group             : 
  @last modified on  : 11-29-2021
  @last modified by  : Hemdene Ben Hammouda
-->
<template>
    <lightning-card>    
        <lightning-input-rich-text
            placeholder="Type something interesting"
            formats={allowedFormats}
            value={myVal}>
        </lightning-input-rich-text>
        <lightning-input type="text" label="Insert Some Text" onchange={handleChange}></lightning-input>
        <lightning-button label="Save as PDF"
                        onclick={saveAsPdf}>
        </lightning-button>
        <lightning-button label="Do Something"
                        onclick={handleClick}>
        </lightning-button>
    </lightning-card>
</template>