<!--
  @description       : 
  @author            : Hemdene Ben Hammouda
  @group             : 
  @last modified on  : 11-29-2021
  @last modified by  : Hemdene Ben Hammouda
-->
<apex:page controller="DisplayPDFController" renderAs="pdf"  
		   applyHtmlTag="false" showHeader="false" cache="true" readOnly="true" >
    <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
            <style>
                @page {
                    size: a4 portrait;    
                    padding-left: 2px;    
                    padding-right: 2px;
                }   
                div.container{
                    border: 1px solid black;
                    padding-left: 2px;    
                    padding-right: 2px;
                }    
                div.title{
                    text-align: center;
                    font-weight: bolder;
                    font-size: 30px;
                    color: blue;
                }     
            </style>
        </head>
        <div class="title"> Fiche de Renseignements</div>
        
        <div class="container">
            <apex:panelGrid columns="2" id="theGrid">
                <apex:outputText value="Nom / Prénom : " id="nameLabel"></apex:outputText>
                <apex:outputText value="{!displayText}" escape="false" id="nameValue"/>
                <apex:outputText value="Value : " id="valueLabel"></apex:outputText>
                <apex:outputText value="{!nameText}" escape="false" id="textValue"/>
                
                </apex:panelGrid> </div>
    </html>
</apex:page>